body{
    background-color: gray;
}
#firstCard{
    
    margin-top: 50px;
}
#c{
    color: whitesmoke;
}
#secondCard{
    margin-top: 50px;
}
#html5{
    width: 25%;
    height: 25%;
}
#css{
    width: 17.5%;
    height: 17.5%;
}
#react{
    width: 57.5%;
    height: 57.5%;
}
#logo{
    width: 12%;
    height: 12%;
}
#nav{
    background-color: rgb(88, 88, 90);
    
    
}